*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

body {
  height: 50vh;
	width: 100%;
  /*background: #0f2027; /* fallback for old browsers */
  /*background: linear-gradient(to right,#2c5364, #203a43, #0f2027);*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.form_font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.form__group {
  width: 100vw;
}

.form__label {
  /*margin-left: 2rem;*/
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  color: #333;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 30%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
