{% extends 'challenge_generic.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles_select_leaderboard.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
  <h1><br>Each challenge problem has its own leaderboard</h1>
  <div class="wrap-1">
    <input type="radio" id="tab-1" name="tabs">
    <label for="tab-1"><div>Problem 1</div><div class="cross"></div></label>
    <div class="questions">
      <p>Two groups of people were given different versions of Problem 1...<br><br></p>
      <div class="question-wrap">
        <input type="radio" id="prob1_group1" name="prob1_group1">
        <a href="{% url 'leaderboard' challenge_tag='H_Index' factor_tag='Factor_1' %}">Group 1</a>
      </div>
      <div class="question-wrap">
        <input type="radio" id="prob1_group2" name="prob1_group2">
        <a href="{% url 'leaderboard' challenge_tag='H_Index' factor_tag='Factor_2' %}">Group 2</a>
      </div>
      <br>
    </div>
  </div>
  <div class="wrap-2">
    <input type="radio" id="tab-2" name="tabs">
    <label for="tab-2"><div>Problem 2</div><div class="cross"></div></label>
    <div class="questions">
      <p>Four groups of people were given different versions of Problem 2...<br><br></p>
      <div class="question-wrap">
        <input type="radio" id="prob2_group1" name="prob2_group1">
        <a href="{% url 'leaderboard' challenge_tag='Contains_Substring' factor_tag='Factor_1' %}">Group 1</a>
      </div>
      <div class="question-wrap">
        <input type="radio" id="prob2_group2" name="prob2_group2">
        <a href="{% url 'leaderboard' challenge_tag='Contains_Substring' factor_tag='Factor_2' %}">Group 2</a>
      </div>
      <div class="question-wrap">
        <input type="radio" id="prob2_group3" name="prob2_group3">
        <a href="{% url 'leaderboard' challenge_tag='Contains_Substring' factor_tag='Factor_3' %}">Group 3</a>
      </div>
      <div class="question-wrap">
        <input type="radio" id="prob2_group4" name="prob2_group4">
        <a href="{% url 'leaderboard' challenge_tag='Contains_Substring' factor_tag='Factor_4' %}">Group 4</a>
      </div>
      <br>
    </div>
  </div>
  <div class="wrap-3">
    <input type="radio" id="tab-3" name="tabs">
    <label for="tab-3"><div>Problem 3</div><div class="cross"></div></label>
    <div class="questions">
      <p>Four groups of people were given different versions of Problem 3...<br><br></p>
      <div class="question-wrap">
        <input type="radio" id="prob3_group1" name="prob3_group1">
        <a href="{% url 'leaderboard' challenge_tag='Contains_Loop' factor_tag='Factor_1' %}">Group 1</a>
      </div>
      <div class="question-wrap">
        <input type="radio" id="prob3_group2" name="prob3_group2">
        <a href="{% url 'leaderboard' challenge_tag='Contains_Loop' factor_tag='Factor_2' %}">Group 2</a>
      </div>
      <div class="question-wrap">
        <input type="radio" id="prob3_group3" name="prob3_group3">
        <a href="{% url 'leaderboard' challenge_tag='Contains_Loop' factor_tag='Factor_3' %}">Group 3</a>
      </div>
      <div class="question-wrap">
        <input type="radio" id="prob3_group4" name="prob3_group4">
        <a href="{% url 'leaderboard' challenge_tag='Contains_Loop' factor_tag='Factor_4' %}">Group 4</a>
      </div>
      <br>
    </div>
  </div>
</div>


{% endblock %}
